<div class="card mb-2">
    <div class="card-body">
        <div class="table-responsive-lg">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>From</th>
                        <th>To</th>
                        <th>Last Day</th>
                        <th>Last Month</th>
                        <th>Last Year</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{fromKey}}</td>
                        <td>{{toKey}}</td>
                        <td>{{convertedAmountInLastDay}}</td>
                        <td>{{convertedAmountInLastMonth}}</td>
                        <td>{{convertedAmountInLastYear}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
