<div class="card mb-2">
    <div class="card-body">
        <div class="table-responsive-md">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>{{header1}}</th>
                        <th>{{header2}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let option of data ">
                        <td>{{option}}</td>
                        <td>{{(option / devideValue) * muliValue }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>