/* You can add global styles to this file, and also import other style files */
.converter-container {
    max-width: 1050px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }